*{

  margin: 0 auto;
  background-color: rgb(22, 25, 37);
}
.header {
  text-align: center;
  cursor:pointer;
  color: rgb(65, 198, 198);
  text-decoration: underline;
  padding-top: 0%;


}
.check{
  color: rgb(148, 183, 31);
  padding-left:1rem;
  padding-top: 2rem;
}

.suggest{
  padding: 3rem;
  padding-left: 0%;

}
button{
  color: rgba(121, 104, 249, 0.789);
  border-color: blueviolet;
  padding: 0.6rem;
}
.footer{
  color: #c51eba;
  text-align: center;


}